<p>member works!</p>
<h1>{{ nom }}</h1>
<table border="1px" >
  <thead >
    <th>id</th>
    <th>cin</th>
    <th>nom</th>
    <th>cv</th>
    <th>type</th>
    <th>date</th>

  </thead>
  <tbody>
    <tr *ngFor="let element of dataSource"> <!-- boucle for-->
    <td>{{ element.id}}</td> <!--string interpolation-->
    <td>{{ element.cin}}</td>
    <td>{{ element.name}}</td>
    <td>{{ element.cv}}</td>
    <td>{{ element.type}}</td>
    <td>{{ element.createDate}}</td>
    </tr>
  </tbody>
</table>

<!-- materail table -->
<br>
<div fxLayout="row" fxLayoutAlign="end center" >
    <button routerLink="/create">Create new </button>
</div>

<br>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8"> <!-- mat-table yani tableau materaile
                                                                          dataSource hetha tableau eli bech naffichih
                                                                      -->



  <!-- Position Column =>  yt5edmou bel colone mouch bel ligne --> <!-- yani bel colone bel colone -->
  <!-- bech n3awdouha 6 fois -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Id </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="cin"> <!-- matColumnDef kol colone 3andha clé bech n3aytelha bih ki esem ou id -->
    <th mat-header-cell *matHeaderCellDef> Cin </th> <!-- mat-header-cell esem el colone eli bech ythhorelna fi entaient -->
    <td mat-cell *matCellDef="let element"> {{element.cin}} </td> <!-- mat-cell les varables mta el colone  -->
  </ng-container>
  <!-- Name Column -->
  <ng-container matColumnDef="name"> <!-- matColumnDef kol colone 3andha clé bech n3aytelha bih ki esem ou id -->
    <th mat-header-cell *matHeaderCellDef> Name </th> <!-- mat-header-cell esem el colone eli bech ythhorelna fi entaient -->
    <td mat-cell *matCellDef="let element"> {{element.name}} </td> <!-- mat-cell les varables mta el colone  -->
  </ng-container>
  <!-- Name Column -->
  <ng-container matColumnDef="cv"> <!-- matColumnDef kol colone 3andha clé bech n3aytelha bih ki esem ou id -->
    <th mat-header-cell *matHeaderCellDef> Cv </th> <!-- mat-header-cell esem el colone eli bech ythhorelna fi entaient -->
    <td mat-cell *matCellDef="let element">
     <a href="{{element.cv}}">  <mat-icon aria-hidden="false" aria-label="Example home icon"  fontIcon="picture_as_pdf"></mat-icon> </a>
       </td> <!-- mat-cell les varables mta el colone  -->
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef> Type </th>
    <td mat-cell *matCellDef="let element"> {{element.type}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="createDate">
    <th mat-header-cell *matHeaderCellDef> CreateDate </th>
    <td mat-cell *matCellDef="let element"> {{element.createDate}} </td>
  </ng-container>
   <!-- Symbol Column -->
   <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> Action </th>
    <td mat-cell *matCellDef="let element">
     <button routerLink="/{{element.id}}/edit" > <mat-icon aria-hidden="false" aria-label="Example home icon"  fontIcon="edit"></mat-icon> </button> <!-- icon materal -->
    <button (click)="delate(element.id)"> <mat-icon aria-hidden="false" aria-label="Example home icon" color="warn" fontIcon="delete"></mat-icon> </button> <!-- icon materal -->

    </td>
  </ng-container>
<!-- bech yamel parcoure kemel -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> <!-- columns: displayedColumns; definer fi ts par apeller de id -->
</table>

